# Set these in your hosting provider environment settings.
APP_ENV=production
APP_HOST=0.0.0.0
PORT=5000
APP_USERNAME=owner
APP_PASSWORD=replace-with-a-long-unique-password
SECRET_KEY=replace-with-output-of-python-secrets-token-hex-32
GOOGLE_SERVICE_ACCOUNT_FILE=/secure/path/service_account.json
EMMY_SPREADSHEET_NAME=EMMY_Cloths_POS_Database
